<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/index.css">

    <title>Create bot</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">
                <h2>Page create bot</h2>
                <p></p>
            </div>
            <div class="col-sm"></div>
        </div>

        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">
                <div class="mb-3">
                    <!--Name bot-->
                    <label for="nameBot" class="form-label">Name bot:</label>
                    <input type="text" class="form-control" id="nameBot" placeholder="Name bot">
                    <p></p>

                </div>
            </div>
            <div class="col-sm"></div>
        </div>

        
        
    </div>

        <form method="POST" th.object="${bot}">
            <!--Этот атрибут th:object указывает Thymeleaf, что данные формы должны быть связаны с объектом, который находится в модели под именем "bot"-->
            <div th:each="botParameters : ${botParametersList}">
                <div>
                    <p>Name: <span th:text="${botParameters.nameBot}"></span></p>
                    <input type="text" th:field="*{nameBot}"/>

                    <!-- pairToken parameters -->
                    <p>Trading Direction: <span th:text="${botParameters.typeTradingDirection}"></span></p>
                    <select th:field="*{typeTradingDirection}">
                        <option th:each="direction : ${T(com.example.autocryptotrader.model.BotParameters$TypeTradingDirection).values()}"
                                th:value="${direction}" th:text="${direction}"></option>
                    </select>

                    <p>Token Pair: <span th:text="${botParameters.tokenPair}"></span></p>
                    <p>Credit Leverage: <span th:text="${botParameters.creditLeverage}"></span></p>
                    <p>Percent Take Profit: <span th:text="${botParameters.percentTakeProfit}"></span></p>
                    <p>Dollar Order Volume: <span th:text="${botParameters.dollarOrderVolume}"></span></p>
                    <hr/>
                </div>
            </div>
            <button type="submit">Submit</button>
        </form>
        <form>
            <div class="grid">
                <div class="parameters-bot" id="parameters">
                    <h3>Parameters bot</h3>
                    <div th:each="botParameters : ${botParametersList}">
                        <input th:field="*{botParametersList}" type="checkbox" th:value="${botParameters.nameBot}"/>
                        <span th:text="${botParameters.getNameBot()}">botParameter</span><br/>
                    </div>
                </div>
            </div>

        </form>


    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>
</html>